@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Roboto',sans-serif;
}
 /* **header** */
 .material-symbols-outlined{
    color: rgb(37, 36, 36);
 }
 .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
 }
.header_left{
    display: flex;
    align-items: center;
}
.header_left img{
    width: 100px;
    margin-left: 15px;
}
.header i{
    padding: 0px 7px;
    cursor: pointer;
}
.header_search {
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 0 0 0 20px;
}
.header_search form{
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}
.header_search input{
    width: 500px;
    margin: 0;
    border-radius:0;
    border: none;
    
}
.header_search i{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_search button{
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 0;
}
.header_icons i{
    padding: 0 12px;
}
/* ***main body*** */
.mainBody{
    height:calc(100vh-70px) ;
    display: flex;
    overflow: hidden;
}
.sidebar {
    height: 100%;
    width: 280px;
    background-color: white;
    overflow-y: scroll;
}
.sidebar_categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}
.sidebar_category{
    display: flex;
    align-items: center;
    padding: 10px 25px;
}
.sidebar_category span{
    margin-left: 15px;
}
.sidebar_category:hover {
    background: #e5e5e5;
    cursor:pointer;   
}
.sidebar::-webkit-scrollbar{
    display: none;
}
.hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

/* *****videos secton****** */
.videos{
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px 5px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
}

.videos_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.video{
    width: 400px;
    margin-right: 10px;
    margin-bottom: 30px;
    
}
.video_thumbnail{
    width: 100%;
    height: 210px;
    
}
.video_thumbnail img {
    object-fit: cover;
   height: 100%;
   width: 100%;
   border-radius: 20px;
}

.author img {
    object-fit: cover;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.video_details {
    display: flex;
    padding: 10px 0 0 0;
}
.title h3{
    color: rgb(3, 3, 3);
    line-height: 18px;
    font-size: 14px;
    margin-bottom: 6px;
}
.title ,a span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
    
}
h1 {
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(3, 3, 3);
}
.title ,a{
    text-decoration: none;
    color: rgb(3, 3, 3);
}